<span>{{ title }}</span>

<!--
<app-calendar-month (selected)="selected = $event"></app-calendar-month>
selected: {{selected | date:'long'}}

<hr>
<app-calendar-week></app-calendar-week>

<hr>
<ul>
  <li><a routerLink="modal">Modal</a></li>
</ul>

<router-outlet></router-outlet>

<hr>
<p style="display: inline-block" [appTooltip]="text" [TooltipW]="500">{{text | truncate:20: '...'}}</p>
<br>
<p style="display: inline-block" [appTooltip]="text2" [TooltipW]="300" >{{text2 | truncate:20: '...'}}</p>
<br>
<p style="display: inline-block">{{text | truncate:20}}</p>
<br>
<p style="display: inline-block" [appTooltip]="text2" >{{text2 | truncate: 20: '[...]'}}</p>
-->
